@import url('https://fonts.googleapis.com/css?family=Heebo:900');


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: white;
  background-size: cover;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.text {
  position: absolute;
font-family: "Anton", Arial, sans-serif;
  font-size: 360px;
  text-align: center;
  color: black;
  font-weight: 900;
    width: 100%;
    height: 100%;
  display: flex;
  align-items: center;
  mix-blend-mode: screen;
  justify-content: center;
  background: white;
  cursor: default;

/*     -webkit-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s; */
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div#goBack{
    z-index: 100;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    mix-blend-mode: overlay;
    background: white;
}

.blend-multiply {
    mix-blend-mode: multiply;
}

.wrapper{
  position: absolute;
    top: 0;
    left: 0;
      width: 100%;
    height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.wrapper ul{
  list-style: none;
      margin: 0;
    padding: 0;
      display: block;
      color: #27282e;
}

.bg-color{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      transition: transform .75s cubic-bezier(.52,.01,.16,1);
  transform-origin: 0 0;
      margin: 0;
    padding: 0;

}


* {
  margin: 0;
  padding: 0;
}
.page__header--large {

  position: relative;
  background: #404040;
}

 .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.full {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.page__header--large {
  height: 100vh;
}

/* --------------- */

a{text-decoration:none;}
ol,ul{
  list-style:none;
}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}

.navbar{
    background: 0;
    position: fixed;
    width: 94%;
    z-index: 1;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Ropa Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    top: 25px;
    left:25px;

}
.logo{
  float:left;
  color:#e06567;
  font-family: 'Ropa Sans', sans-serif;
  text-decoration:none;
  margin: 10px 17px;
  text-transform: uppercase;
}
.topnavbar{
  float:right;
  z-index:1;
  font-family: 'Ropa Sans', sans-serif;
}

.navli{
  float:left;
  margin: 10px 17px;
  list-style:none;
}
.nava{
  font-size:15px;
  color:#e06567;
  text-decoration:none;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding-bottom:5px;
  display:block;
  
}

.nava:hover{
  border-bottom: 3px solid #e06567;
}


/* ------------- */


.wordwrap{
  height:100px;
  width:830px;
  margin:170px auto;
  position:relative;
  top:50vh;
  color:white;
  font-size: 2em;
  font-family: 'Ropa Sans', sans-serif;
}
#typewords {
  font-family:'Ropa Sans', sans-serif;
  font-weight: 400;
  color:#e06567;
  opacity:0.7;
  margin-top: 30px;

}



#typewords:after{
  content:" ";
  position:absolute;
  height:1.5em;
  width: 2px;
  background: white;
  animation: shin 1.5s infinite alternate;
}

@keyframes shin{
  from{opacity: 1;}
  to{opacity: 0;}
}




/* ----------------- */

.selfIntroduction{
  max-width:940px;
  margin: 20px auto;
  text-align:center;
  font-size:18px;
  color:#7C7C7C;
  line-height:1.8em;
  font-weight: 30;
}
.hh3{
  font-weight:normal;
  color: #6A4F46;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  text-align:center;
  margin:15px auto;
}


.border{
  background:white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding:10px 10px;
  margin:30px auto;
}
.border:hover{
    box-shadow: 0px 14px 13px 0px rgba(0, 0, 0, 0.2);
}

h3{
  font-weight:normal;
  color: #7C7C79;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
}
